[Desktop Entry]
Type=Application
Name=Bluetooth Manager
TryExec=bluetui
Exec=xdg-terminal-exec -- bluetui
Icon=bluetooth-active-symbolic
Keywords=bluetooth;connection;
OnlyShowIn=Hyprland;
