[Desktop Entry]
Type=Application
Name=Wifi Manager
TryExec=impala
Exec=vb-core-term -- impala
Icon=network-wireless-signal-excellent-symbolic
Keywords=wifi;network;dns;vpn;wireless;connection;online;offline;
OnlyShowIn=Hyprland;
