[Desktop Entry]
Type=Application
Name=Disk Usage Analizer
TryExec=ncdu
Exec=xdg-terminal-exec -- ncdu --enable-delete --exclude-kernfs --group-directories-first /
Icon=ncdu
Keywords=disk;dh;du;usage;ncdu
OnlyShowIn=Hyprland;
