[Desktop Entry]
Type=Application
Name=Disk Usage Analizer
Exec=vb-core-term ncdu --enable-delete --exclude-kernfs --group-directories-first /
Icon=filelight
Keywords=disk;dh;du;usage;ncdu
