[Desktop Entry]
Name=Image Annotator
GenericName=Modern Screenshot Annotation
TryExec=satty
Exec=vb-util-image-annotator
Terminal=false
Type=Application
Keywords=wayland;snapshot;annotation;editing;
Icon=satty
Categories=Utility;Graphics;
StartupNotify=true
MimeType=image/png;image/jpeg;
StartupWMClass=com.gabm.satty
OnlyShowIn=Hyprland;
