[Desktop Entry]
Type=Application
Name=File Manager
Icon=thunar
TryExec=thunar
Exec=thunar %U
MimeType=inode/directory;
Keywords=Explorer;Thunar;xfce
OnlyShowIn=Hyprland;
