[Desktop Entry]
Type=Application
Name=Volume Mixer
TryExec=wiremix
Exec=xdg-terminal-exec -- wiremix
Icon=wiremix
Keywords=audio;sound;headset;speakers;bluetooth;pipewire;pulseaudio;mixer;wiremix;pavucontrol;
OnlyShowIn=Hyprland;
