[Desktop Entry]
Type=Application
Name=Sound Configuration
Exec=vibranium-cmd-launch-terminal wiremix
Icon=audio-volume-high
Keywords=audio;sound;headset;speakers;bluetooth;pipewire;pulseaudio;mixer;wiremix
