ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", SUBSYSTEMS=="usb", RUN+="/usr/local/bin/vibranium-core-usb-notification add"
ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd*", SUBSYSTEMS=="usb", RUN+="/usr/local/bin/vibranium-core-usb-notification remove"


