@import "../vibranium/theme/current/rofi.rasi"
@import "~/.local/share/vibranium/default/rofi/configuration.rasi"

* {
    background-color: transparent;
}

window {
    width:            350px;
    padding:          20;
    background-color: var(background);
	transparency:     "real";
    border:           2;
    border-color:     var(border);
}

mainbox {
    padding:          4px;
    background-color: var(background);
}

message {
    border: 0.15em;
    margin: 18px 2px 0px 2px;
    padding: 8px 8px 8px 8px;
    border-color: var(border);
}

element {
    padding: 8px;
    spacing: 16px;
    cursor:  pointer;
}

element normal.normal {
    background-color: var(background);
    text-color:       var(foreground-muted);
}

element normal.active {
    background-color: var(border);
}

element selected.normal {
    background-color: var(background);
    text-color:       var(foreground);
}

element alternate.normal {
    background-color: var(background);
    text-color:       var(foreground-muted);
}

element-text {
    background-color: transparent;
    text-color:       inherit;
    cursor:           inherit;
    margin:           6px 0 0 0;
}

element-icon {
    background-color: transparent;
    size:             1.7em;
}

listview {
    padding:      20px 0 0 0;
    spacing:      4px;
    scrollbar:    true;
    border:       2px solid 0px 0px;
    border-color: var(border);
    margin:       10px 0 0 0;
	lines:        10;
}

scrollbar {
    width:        2px;
    padding:      0;
    handle-width: 2px;
    border:       0;
    handle-color: var(border);
}

inputbar {
    text-color: var(foreground);
    children: [
        "prompt",
        "textbox-prompt-colon",
        "entry",
        "overlay",
        "num-filtered-rows",
        "textbox-num-sep",
        "num-rows",
        "case-indicator"
    ];
}

prompt {
    text-color: inherit;
}

entry {
    text-color:        var(foreground-muted);
    placeholder-color: var(foreground-muted);
    cursor:            text;
    placeholder:       "";
}

case-indicator {
    enabled: false;
}

num-filtered-rows {
    expand:     false;
    text-color: var(foreground-muted);
}

num-rows {
    expand:     false;
    text-color: var(border);
}

textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: var(border);
}

textbox-prompt-colon {
    margin:     0 2px 0 0;
    expand:     false;
    str:        ":";
    text-color: var(foreground-muted);
}
