[Unit]
Description=Lockscreen service for Hyprland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=Hyprland

[Service]
Type=simple
ExecStart=/usr/bin/hyprlock
Restart=on-failure

[Install]
WantedBy=graphical-session.target
