[Unit]
Description=Check Vibranium updates hourly

[Timer]
OnCalendar=hourly
Persistent=true
Unit=vibranium-update.service

[Install]
WantedBy=default.target
