ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd*", SUBSYSTEMS=="usb", RUN+="/usr/local/bin/vibranium-bt-notify add"
ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd*", SUBSYSTEMS=="usb", RUN+="/usr/local/bin/vibranium-bt-notify remove"
