@define-color background #000000;
@define-color foreground #ffffff;
@define-color urgent     #f77069;

* {
	background: @background;
	color:      @foreground;
}

window#waybar {
	font-family: 'Symbols Nerd Font Mono', 'Cascadia Code';
	font-size: 12px;
}

tooltip {
	color: @foreground;
	background: @background;

	border: 1px solid @border;
	border-radius: 0px;
	font-size: 12px;
	font-weight: bold;
}

#workspaces button {
    color: @foreground;
    min-width: 12px;
}

#workspaces button.empty {
  opacity: 0.5;
}

@keyframes urgent-workspace {
	0% { color: @urgent }
}

#workspaces button.urgent {
	opacity: 1;
	animation: urgent-workspace 1s infinite
}

.modules-right {
	color: @foreground;
	margin-right: 8px
}

.module {
	margin: 0px 6px
}

#tray {
	margin-right: 8px;
}

@keyframes recording-animation {
  0%   { color: @foreground }
  25%  { color: @foreground }
  50%  { color: @urgent }
  75%  { color: @urgent }
}

#custom-confirm-kill {
	color: @foreground;
	animation: recording-animation 1s infinite
}

#custom-recording-indicator {
	color: @foreground;
	animation: recording-animation 1.5s infinite
}

#custom-separator,
#custom-dynamic-separator {
	color: @foreground;
    opacity: 0.4
}

#network.disconnected {
	color: @urgent
}

#custom-timer.expired {
    animation: timer-flash 1.05s infinite;
}

@keyframes timer-flash {
    0% {
        color: @foreground;
    }
    50% {
        color: @urgent;
    }
    100% {
        color: @foreground;
    }
}
