@define-color background #000000;
@define-color foreground #eee6e4;
@define-color urgent     #f77069;

* {
  /* Ignore installed GTK theme */
  all: initial;

	background: @background;
	color:      @foreground;

	font-family: 'Symbols Nerd Font Mono', 'Cascadia Code';
	font-size:  12px;
}

tooltip label {
	font-size: 12px;
}

#workspaces {
  margin-left: 4px;
}

#workspaces button {
  min-width: 24px;
}

#workspaces button.empty {
  opacity: 0.5;
}

@keyframes urgent-workspace {
	0% { color: @urgent }
}

#workspaces button.urgent {
	animation: urgent-workspace 1s infinite;
}

.modules-right {
  margin-right: 6px;
}

.modules-right .module {
  font-size: 11.5px;
	margin: 0px 7px;
}

#clock {
  margin: 0px 14px;
}

#tray {
	margin-right: 8px;
}

@keyframes flashing-animation {
  0%   { color: @foreground }
  25%  { color: @foreground }
  50%  { color: @urgent }
  75%  { color: @urgent }
}

#custom-confirm-kill {
	color: @foreground;
	animation: flashing-animation 1s infinite
}

#custom-recording-indicator {
	color: @urgent;
}

#custom-separator,
#custom-dynamic-separator {
	color: @foreground;
  opacity: 0.5
}

#network.disconnected {
	color: @urgent
}

#custom-timer.expired {
  animation: timer-flash 1.05s infinite;
}

@keyframes timer-flash {
  0% {
    color: @foreground;
  }
  50% {
    color: @urgent;
  }
  100% {
    color: @foreground;
  }
}
