[Desktop Entry]
Type=Application
Version=1.0
Name=Claude AI
Icon=claude
Keywords=AI;Claude;Anthropic
TryExec=chromium
Exec=chromium --app='https://claude.ai/chats'
Terminal=false
Categories=AI;
