[Desktop Entry]
Type=Application
Version=1.0
Name=ChatGPT
Icon=chatgpt
Keywords=AI;ChatGPT;GPT;OpenAI
Exec=https://chatgpt.com
Terminal=false
Categories=AI;
