[Desktop Entry]
Type=Application
Version=1.0
Name=Claude AI
Icon=claude
Keywords=AI;Claude;Anthropic
Exec=https://claude.ai/chats
Terminal=false
Categories=AI;
