[Desktop Entry]
Version=1.0
Type=Application
Name=Grok AI
Icon=grok
Keywords=Grok;Twitter;X;Elon;Musk;Tesla
Exec=https://grok.com
Terminal=false
Categories=AI;
