[Desktop Entry]
Version=1.0
Type=Application
Name=Grok
Icon=grok
Keywords=Grok;Twitter;X;Elon;Musk;Tesla
TryExec=chromium
Exec=chromium --app='https://grok.com'
Terminal=false
Categories=AI;
