[Desktop Entry]
Version=1.0
Type=Application
Name=Perplexity
Icon=perplexity
Keywords=PerplexityAI;Labs;
TryExec=chromium
Exec=chromium --app='https://www.perplexity.ai'
Terminal=false
Categories=AI;
