[Desktop Entry]
Version=1.0
Name=ChatGPT
# vibranium-core-app-launcher:
# if [[ "$expanded_input" =~ ^https?:// ]]; then
#     vibranium-cmd-launch-cmd xdg-open "$expanded_input"
#     exit 0
# fi
Exec=https://chatgpt.com
Terminal=false
Type=Application
Icon=chatgpt
Categories=Network;
