[Desktop Entry]
Type=Application
Version=1.0
Name=Log out
Icon=logout
Keywords=Session;Logout;Screensaver
Exec=vb-core-stop-session
Terminal=false
Categories=Power;
OnlyShowIn=Hyprland;
