[Desktop Entry]
Type=Application
Version=1.0
Name=UEFI Setup
Icon=uefi
Keywords=UEFI;Bios;Setup;Firmware;Asus;MSI;Gigabyte;Dell;Framework
Exec=systemctl reboot --firmware-setup
Terminal=false
Categories=Power;
