[Desktop Entry]
Type=Application
Version=1.0
Name=Lock session
Icon=lock
Keywords=Session;Lock;Screensaver
Exec=vibranium-core-lock-session
Terminal=false
Categories=Power;
