[Desktop Entry]
Version=1.0
Type=Application
Name=Syncthing
Icon=syncthing
Keywods=Sync;
Exec=vibranium-app-syncthing
Terminal=false
Categories=Network;
