[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube Music
Icon=youtube
Keywrods=Google;Youtube;Music
Exec=https://music.youtube.com
Terminal=false
Categories=WebApp;
