[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube Music
Icon=youtube
Keywords=Google;Youtube;Music
TryExec=chromium
Exec=chromium --app='https://music.youtube.com'
Terminal=false
Categories=WebApp;
OnlyShowIn=Hyprland;
