[Desktop Entry]
Version=1.0
Name=GitHub
TryExec=chromium
Exec=chromium --app='https://github.com'
Terminal=false
Type=Application
Icon=github
Categories=WebApp;
