[Desktop Entry]
Version=1.0
Type=Application
Name=GMail
Icon=gmail
Keywords=Mail;Google;
Exec=https://mail.google.com
Terminal=false
Categories=WebApp;
