.theme-dark, .theme-light {

  --color-red-rgb: 218,68,83;
  --color-red: #da4453;

  --color-orange-rgb: 218,136,68;
  --color-orange: #da8844;

  --color-yellow-rgb: 204,183,106;
  --color-yellow: #ccb76a;

  --color-green-rgb: 129,184,106;
  --color-green: #81b86a;

  --color-cyan-rgb: 129,184,106;
  --color-cyan: #81b86a;

  --color-blue-rgb: 107,152,194;
  --color-blue: #6b98c2;

  --color-purple-rgb: 145,107,194;
  --color-purple: #916bc2;

  --color-pink-rgb: 235,153,161;
  --color-pink: #eb99a1;

  --accent-h: 354;
  --accent-s: 67%;
  --accent-l: 76%;

  --text-normal: #d9d8dc;

  --link-external-color: #6b98c2;
  --link-external-color-hover: #916bc2;

  /* --h1-color: inherit; */
  /* --h2-color: inherit; */
  /* --h3-color: inherit; */
  /* --h4-color: inherit; */
  /* --h5-color: inherit; */
  /* --h6-color: inherit; */

  /*
   *
   * Gradually build all base colors
   *
   */

  /* Main document background, settings background */
  --color-base-00:  #120c0e;

  --color-base-05:  #120c0e;

  /* Code block color, options' island background */
  --color-base-10:  #261a1e;

  /* Background of  left & right section, context menu, canvas's drag icons background */
  --color-base-20:  rgba(calc(38 * 0.8), calc(26 * 0.8), calc(30 * 0.8));

  /* Input field background */
  --color-base-25:  rgba(calc(18 * 0.8), calc(12 * 0.8), calc(14 * 0.8));

  /* Top bar background, section border, canva's grid color
   * non accent-colored button background */
  --color-base-30:  #40363a;

   /* Background of inactive toggles, borders of some UI elements,
   * hover background on *some* buttons */
  --color-base-35:  #473d41;

  /* Mostly UI borders */
  --color-base-40:  #473d41;

  /* Some UI elements color */
  --color-base-50:  #544b4f;

  --color-base-60: #b1b0b3;

  /* Text color in non-document places */
  --color-base-70: #c5c4c7;

  /* Couldn't find it, but according to the default Obsidian theme,
   * this is equal to text color, as well as base-70 and base-60  */
  --color-base-100: #d9d8dc;
}

/* Add barely visible border for settings sections */
/* It's a small change, but it makes a big difference visually */
.setting-group .setting-items {
  border: 1px solid #473d41;
}

.setting-group .setting-item {
  border-top: 1px solid #40363a;
}

/* vim: set ft=css: */

