[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=alacritty msg create-window
Icon=konsole

Terminal=false
Categories=System;TerminalEmulator;
Name=Terminal Emulator
GenericName=Terminal

StartupNotify=true
StartupWMClass=org.vb.term

X-TerminalArgExec=-e
X-TerminalArgAppId=--class=
X-TerminalArgTitle=--title=
X-TerminalArgDir=--working-directory=
