[Desktop Entry]
Type=Application
TryExec=foot
Exec=footclient
Icon=konsole

Terminal=false
Categories=System;TerminalEmulator;
Name=Terminal Emulator
GenericName=Terminal

StartupNotify=true
StartupWMClass=org.vb.term

X-TerminalArgExec=-e
X-TerminalArgAppId=--app-id=
X-TerminalArgTitle=--title=
X-TerminalArgDir=--working-directory=

NoDisplay=true
